version: '3.8'
services:
  tts:
    build:
      context: ../../
      dockerfile: dockers/whisper_docker/Dockerfile
    ports:
      - "8013:8013"
    image: whisper-service
    container_name: whisper-service-container
    volumes:
      - /home/amitli/repo/VoiceOperation/models/whisper:/models/whisper
    environment:
      - PULSE_SERVER=unix:/tmp/pulse/native
      - PULSE_COOKIE=/tmp/pulse/cookie
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    devices:
      - /dev/snd

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    #restart: unless-stopped