version: "3.9"

services:
  voice_app:
    build:
      context: ../..
      dockerfile: ../app_docker/Dockerfile
    container_name: voice_app
    network_mode: "host" # Required for microphone/speaker access
    environment:
      - PYTHONUNBUFFERED=1
    devices:
      - "/dev/snd:/dev/snd" # Access to ALSA sound devices
    volumes:
       - ../../VoiceOperation:/app/VoiceOperation
    restart: unless-stopped
