version: '3.8'
services:
  c2VoiceControl:
    build:
      context: ../../
      dockerfile: dockers/app_docker/Dockerfile
    image: c2-voice-control
    container_name: c2-voice-control
 
    runtime: nvidia
    tty: true
    devices:
      - /dev/snd
    group_add:
      - audio



    volumes:
      - /home/amitli/repo/VoiceOperation/models/llm:/models:ro
      - /home/amitli/repo/VoiceOperation/models/openWakeWord:/opt/conda/lib/python3.11/site-packages/openwakeword/resources/models/
      - /tmp/pulse:/tmp/pulse
      - /run/user/1000/pulse/native:/run/user/1000/pulse/native
    environment:
      #- PULSE_SERVER=unix:/tmp/pulse/native
      - PULSE_SERVER=unix:/run/user/1000/pulse/native
      - PULSE_COOKIE=/run/user/1000/pulse/cookie
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility





    #restart: unless-stopped