version: '3.8'
services:
  c2VoiceControl:
    build:
      context: ../../
      dockerfile: dockers/app_docker/Dockerfile
    ports:
      - "8002:8002"
    image: c2-voice-control
    container_name: c2-voice-control
    volumes:
      - /home/amitli/repo/VoiceOperation/models/llm:/models:ro
    environment:
      - PULSE_SERVER=unix:/tmp/pulse/native
      - PULSE_COOKIE=/tmp/pulse/cookie
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    devices:
      - /dev/snd

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    #restart: unless-stopped